{% import 'reports/findings_table.html' as findings_table %}
{% extends "layout.html" %}
{% block head %}
{% endblock %}


{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class=" content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">



<script>

  var cr = 0 ;
  cr =+  {% for title, count in pendings.critical.types.items() %}   {{ count}};   {% endfor %}
  var hi = {% for title, count in pendings.high.types.items() %}   {{ count}};   {% endfor %}
  var md = {% for title, count in pendings.medium.types.items() %}   {{ count}};   {% endfor %}
  var lo = {% for title, count in pendings.low.types.items() %}   {{ count}};   {% endfor %}

console.log(cr);

  $(function () {

    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: [
          'Critical',
          'High',
          'Medium',
          'Low',
      ],
      datasets: [
        {
          data: [cr,hi,md,lo],
          backgroundColor : ['#f00','#ff491c', '#f90', '#f3d70c'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,

    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })



   var systems = [ {% for system in data.systems %}  '{{ system.name }}', {% endfor %} ]
   var c = [ {% for system in data.systems %}  '{{ system.c }}', {% endfor %} ]
   var h = [ {% for system in data.systems %}  '{{ system.h }}', {% endfor %} ]
   var m = [ {% for system in data.systems %}  '{{ system.m }}', {% endfor %} ]
   var l = [ {% for system in data.systems %}  '{{ system.l }}', {% endfor %} ]

    var areaChartData = {
      labels  : systems,
      datasets: [
        {
          label               : 'High',
          backgroundColor     : '#ff491c', //'rgba(255,0,0,1)',
          borderColor         : '#ff491c', //'rgba(255,0,0,1)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : h
        },
        {
          label               : 'Critical',
          backgroundColor     : 'rgba(255,0,0,1)',
          borderColor         : 'rgba(255,0,0,1)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : c  //[8, 2, 0, 0, 6, 11, 2,1,2,1]
        },
        {
          label               : 'Medium',
          backgroundColor     : '#f90',
          borderColor         : '#f90',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : m
        },
        {
          label               : 'Low',
          backgroundColor     : '#f3d70c', //'rgba(255,0,0,1)',
          borderColor         : '#f3d70c', //'rgba(255,0,0,1)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : l
        },
      ]
    }





    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })



  })

</script>




<h5 class="mb-2">Total Vulnerbailites Pending</h5>

<div class="row">
    <div class="col-md-2 col-sm-3 col-12">
        <div class="info-box shadow-none">
            <div class="info-box-content text-center">
                <span class="info-box-number text-xl">{{pendings.identified.total}}</span>
                <br>
                <span class="info-box-text text-sm">Total</span>

                <!-- detail vulnerabilites -->
                <div class="row text-muted">
                {% for title, count in pendings.identified.types.items() %}
                  <div class="col">
                    <span class="info-box-number text-xs">{{count}}</span>
                    <span class="info-box-text text-xs"> {{ title }} </span>
                  </div>
                {% endfor %}
                </div>
                <!-- end detail vulnerabilites -->

           </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col-md-3 -->


    <div class="col-md-2 col-sm-3 col-12">
        <div class="info-box shadow-none">
            <div class="info-box-content text-center">
                <span class="info-box-number text-xl">{{pendings.riskaccepted.total}}</span>
                <br>
                <span class="info-box-text text-sm">Risk Accepted</span>

                <!-- detail vulnerabilites -->
                <div class="row text-muted">
                {% for title, count in pendings.riskaccepted.types.items() %}
                  <div class="col">
                    <span class="info-box-number text-xs">{{count}}</span>
                    <span class="info-box-text text-xs"> {{ title }} </span>
                  </div>
                {% endfor %}
                </div>
                <!-- end detail vulnerabilites -->


            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-2 col-sm-3 col-12">
        <div class="info-box shadow-none">
            <div class="info-box-content text-center">
                <span class="info-box-number text-xl">{{pendings.critical.total}}</span>
                <br>
                <span class="info-box-text text-sm bg-critical">CRITICAL</span>

                <!-- detail vulnerabilites -->
                <div class="row text-muted">
                {% for title, count in pendings.critical.types.items() %}
                  <div class="col">
                    <span class="info-box-number text-xs">{{count}}</span>
                    <span class="info-box-text text-xs"> {{ title }} </span>
                  </div>
                {% endfor %}
                </div>
                <!-- end detail vulnerabilites -->

            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-2 col-sm-3 col-12">
        <div class="info-box shadow-none">
            <div class="info-box-content text-center">
                <span class="info-box-number text-xl">{{pendings.high.total}}</span>
                <br>
                <span class="info-box-text text-sm bg-high">HIGH</span>

                <!-- detail vulnerabilites -->
                <div class="row text-muted">
                {% for title, count in pendings.high.types.items() %}
                  <div class="col">
                    <span class="info-box-number text-xs">{{count}}</span>
                    <span class="info-box-text text-xs"> {{ title }} </span>
                  </div>
                {% endfor %}
                </div>
                <!-- end detail vulnerabilites -->

            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col-md-3 -->


    <div class="col-md-2 col-sm-3 col-12">
        <div class="info-box shadow-none">
            <div class="info-box-content text-center">
                <span class="info-box-number text-xl">{{pendings.medium.total}}</span>

                <br>
                <span class="info-box-text text-sm bg-medium">MEDIUM</span>

                <!-- detail vulnerabilites -->
                <div class="row text-muted">
                {% for title, count in pendings.medium.types.items() %}
                  <div class="col">
                    <span class="info-box-number text-xs">{{count}}</span>
                    <span class="info-box-text text-xs"> {{ title }} </span>
                  </div>
                {% endfor %}
                </div>
                <!-- end detail vulnerabilites -->


            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col-md-3 -->


    <div class="col-md-2 col-sm-3 col-12">
        <div class="info-box shadow-none ">
            <div class="info-box-content text-center">
                <span class="info-box-number text-xl">{{pendings.low.total}}</span>
                <br>
                <span class="info-box-text text-sm bg-low">LOW</span>

                <!-- detail vulnerabilites -->
                <div class="row text-muted">
                {% for title, count in pendings.low.types.items() %}
                  <div class="col">
                    <span class="info-box-number text-xs">{{count}}</span>
                    <span class="info-box-text text-xs"> {{ title }} </span>
                  </div>
                {% endfor %}
                </div>
                <!-- end detail vulnerabilites -->


            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col-md-3 -->



</div>







<div class="row">
    <div class="col-md-9 col-sm-3 col-12">
        <div class="info-box shadow-none">
            <div class="info-box-content text-center">
                <span class="info-box-number text-md">Vulnerabilites By System</span>
                <br>

                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>


                <span class="info-box-text text-sm"></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-3 col-12">


        <div class="info-box shadow-none">
            <div class="info-box-content text-center">
                <span class="info-box-number text-md">Active Vulnerabilites</span>
                <br>
                <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                <span class="info-box-text text-sm"></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col-md-3 -->

</div>






<div class="row">

    <div class="col-md-12 col-sm-3 col-12">

        <div class="info-box shadow-none">
            <div class="info-box-content text-center">
                <span class="info-box-number text-md"> Vulnerabilities breached (SLA)  </span>
                <br>
                   {{ findings_table.render('findings_table','/sla/data') }}


                <span class="info-box-text text-sm"></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->


    </div>

</div>















      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
